<header id="header" class="header">

    <div class="branding">
        <div class="container position-relative d-flex align-items-center justify-content-between">
            <a href="index.php" class="logo d-flex align-items-center">
                <img src="view/assets/img/logo.png" alt="">
                <h1 class="sitename">REPLAY<br/></h1>
            </a>

            <!-- Cargamos menú dinámicamente -->
            <nav id="navmenu" class="navmenu">
            </nav>
            
        </div>
    </div>
</header>